{% include 'adminheader.html' %}
<<div class="workingArea">
	<ol class="breadcrumb">
	  <li><a href="admin_category_list">所有分类</a></li>
	  <li><a href="admin_product_list?cid={{ product.cid_id }}">平板电视</a></li>
	  <li class="active">{{ product.name }}</li>
	  <li class="active">编辑产品</li>
	</ol>

	<div class="panel panel-warning editDiv">
		<div class="panel-heading">编辑产品</div>
		<div class="panel-body">
			<form method="post" id="editForm" action="admin_product_update">
                {% csrf_token %}
				<table class="editTable">
					<tbody><tr>
						<td>产品名称</td>
						<td><input id="name" name="name" value="{{ product.name }}" type="text" class="form-control"></td>
					</tr>
					<tr>
						<td>产品小标题</td>
						<td><input id="subTitle" name="subTitle" type="text" value="{{ product.subTitle }}" class="form-control"></td>
					</tr>
					<tr>
						<td>原价格</td>
						<td><input id="orignalPrice" value="{{ product.orignalPrice }}" name="orignalPrice" type="text" class="form-control"></td>
					</tr>
					<tr>
						<td>优惠价格</td>
						<td><input id="promotePrice" value="{{ product.promotePrice }}" name="promotePrice" type="text" class="form-control"></td>
					</tr>
					<tr>
						<td>库存</td>
						<td><input id="stock" value="{{ product.stock }}" name="stock" type="text" class="form-control"></td>
					</tr>

					<tr class="submitTR">
						<td colspan="2" align="center">
						<input type="hidden" name="id" value="{{ product.id }}">
						<input type="hidden" name="cid" value="{{ product.cid_id }}">
						<button type="submit" class="btn btn-success">提 交</button></td>
					</tr>
				</tbody></table>
			</form>
		</div>
	</div>
</div>