{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}仿天猫-注册{% endblock %}

{% block searchBar %}
    {% include 'singleSearchBar.html' %}
{% endblock %}


{% block content %}
{% if registSuccess %}
    <div class="registerSuccessDiv">

		<img src="{% static 'img/site/registerSuccess.png' %}">
			恭喜注册成功
    </div>
{% else %}
    <script type="text/javascript">{{script}}('{{wrong}}')</script>
<div class="registerDiv">
    <div class=""></div>
    <form action="/regist/" method="post">
        <table align="center" class="registerTable">
            <tbody><tr>
                <td class="registerTip registerTableLeftTD">Django仿天猫-用户注册&nbsp;&nbsp;&nbsp;</td>
                <td></td>

            </tr>
            <tr>
                <td class="registerTableLeftTD">登录名</td>
                <td class="registerTableRightTD"><input value="" class="" placeholder="会员名一旦设置成功，无法修改" name="username" id="name"> </td>
            </tr>
             <tr>
                <td class="registerTableLeftTD">邮箱</td>
                <td class="registerTableRightTD"><input value="" type="email" class=" " placeholder="设置你的邮箱" name="email" id="name"> </td>
            </tr>

            <tr>
                <td class="registerTableLeftTD">登录密码</td>
                <td class="registerTableRightTD"><input value="" class="" type="password" placeholder="设置你的登录密码" name="password" id="password"> </td>

            </tr>
            <tr>
                <td class="registerTableLeftTD">密码确认</td>
                <td class="registerTableRightTD"><input value="" class="" type="password" placeholder="请再次输入你的密码" name="password2" id="repeatpassword"> </td>
            </tr>
            </tr>

            <tr>
                <td></td>
                <td class="registerTableLeftTD"></td>
            </tr>
            <tr>
                <td class="registerButtonTD" colspan="2">
                    <a href="#nowhere"><button>提   交</button></a>
                </td>
            </tr>

        </tbody></table>
        {% csrf_token %}

    </form>
</div>
{% endif %}
{% endblock %}